
Django==5.0
django-browser-reload==1.12.1
django-jazzmin==2.6.0
django-tailwind==3.7.0

Jinja2==3.1.2

Pillow==10.1.0
psycopg2==2.9.9
Pygments==2.17.2
python-dateutil==2.8.2
python-decouple==3.8
python-slugify==8.0.1
